body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/4599906/pexels-photo-4599906.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    align-items: center;
    justify-content: ceter; */
    height: 100vh;
  }
  .card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 4s;
    width: 300px;
    text-align: center;
    display: flex;
    margin-top: 15px;
    text-decoration: none;
    color: #ef19ba;
   flex-direction: column;
    border-radius: 5px;
  } 
   /* This the whole thing */
  .card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .card h1 {
    color: #333;
    margin: 10px 0 5px 0;
  }
  
  .card p {
    color: #666666;
  }
  
   .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  } 

  .cards {

display:flex;justify-content: space-evenly;
  }